*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #FEC544;
}
 .showcase-text .text-1{
    font-size: 27px;
}
.showcase-text .text-2{
    font-size: 75px;
    font-weight: 700;
}
.showcase-text .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}
.showcase-text .text-3 span{
    color: #FEC544;
}
.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navbar.sticky{
    padding: 10px 100px;
    background: #07080B;
    
}
.navbar .logo{
    color: #FEC544;
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar ul li span{
    color: #FEC544;
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}
.navbar ul li a{
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: #FEC544;
}
#footer{
    text-align: center;
    background: #FEC544;
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}

img{
    width: 500px;
    margin: 200px auto;
    border-radius: none;
}
.CV{
    display: flex;
    justify-content: center;
}
